p{
  font-size:15px;
  font-weight: normal;
  text-align: center;
}

li{
  font-weight: bold;
  text-align: center;
  list-style: none;
}
ul{
  list-style: none;
}
h2{
  color: blue;
  text-align: center;
}